@media screen and (min-width: 813px) {
  .file-details-main {
    display: flex;
    flex-direction: column;
    width: 100%;
    height: 80%;
    justify-content: flex-start;
    align-items: flex-start;
    padding: 50px;
    cursor: default;
    color: #666;
  }

  .file-info {
    display: flex;
    justify-content: flex-start;
    align-items: flex-start;
    width: 40%;
    height: auto;
    box-shadow: inset 1px 1px 2px #00000080;
    padding: 20px;
    background-color: #dbdbdb41;
    border-radius: 10px;
    position: relative;
  }

  .file-thumbnail {
    background-position: top;
    background-repeat: no-repeat;
    background-size: cover;
    width: 200px;
    height: 150px;
    border-radius: 8px;
    box-shadow: 1px 1px 2px #00000080;
    cursor: pointer;
    transition: scale 0.3s ease-in-out, opacity 0.3s ease-in-out;
    margin-right: 30px;
  }

  .back-to-files {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 110px;
    box-shadow: 1px 1px 2px #00000080;
    padding: 10px;
    border-radius: 10px;
    cursor: pointer;
    color: #666;
    transition: scale 0.3s ease-in-out;
  }

  .back-to-files:hover {
    scale: 0.97;
  }

  .file-thumbnail:hover {
    scale: 0.97;
    opacity: 70%;
  }

  .details-block {
    display: flex;
    flex-direction: column;
    width: 65%;
  }

  .details-block p {
    width: 100%;
    margin: 0px;
  }
  .details-block h3 {
    margin: 0px;
    margin-top: 10px;
    margin-bottom: 5px;
  }

  .download-file {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 150px;
    height: 40px;
    border-radius: 10px;
    outline: hidden;
    border: none;
    margin-top: 20px;
    cursor: pointer;
    color: var(--color-light);
    transition: opacity 0.3s ease-in-out, scale 0.3s ease-in-out;
    background-color: var(--color-primary);
    font-weight: bold;
    font-size: 17px;
  }

  .download-file:hover {
    scale: 0.96;
    opacity: 50%;
  }

  .large-image-overlay {
    display: flex;
    position: fixed;
    width: 100dvw;
    height: 100dvh;
    justify-content: center;
    align-items: center;
    top: 0;
    left: 0;
    background-color: #00000080;
    z-index: 20;
  }
  .large-image-modal {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 70%;
    height: 80%;
    position: relative;
    background-color: #2c2c2c;
    box-shadow: 4px 4px 7px #00000080;
  }
  .large-image {
    width: 100%;
    height: 100%;
    background-position: center;
    background-repeat: no-repeat;
    background-size: contain;
  }

  .large-modal-close {
    color: var(--color-light);
    width: 34px;
    height: 34px;
    position: absolute;
    z-index: 22;
    top: 20px;
    left: 20px;
    cursor: pointer;
    transition: scale 0.3s ease-in-out;
  }

  .large-modal-close:hover {
    scale: 0.95;
  }
}
@media screen and (max-width: 812px) {
  .file-details-main {
    display: flex;
    flex-direction: column;
    width: 80%;
    height: 550px;
    justify-content: flex-start;
    align-items: flex-start;
    padding: 30px;
    cursor: default;
    color: #666;
    position: relative;
  }

  .file-info {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    flex-direction: column;
    width: 90%;
    height: 100%;
    box-shadow: inset 1px 1px 2px #00000080;
    padding: 20px;
    background-color: #dbdbdb41;
    border-radius: 10px;
    position: relative;
    overflow-y: scroll;
  }

  .file-thumbnail {
    background-position: top;
    background-repeat: no-repeat;
    background-size: cover;
    width: 100%;
    height: 200px;
    border-radius: 8px;
    box-shadow: 1px 1px 2px #00000080;
    cursor: pointer;
    transition: scale 0.3s ease-in-out, opacity 0.3s ease-in-out;
  }

  .back-to-files {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 110px;
    box-shadow: 1px 1px 2px #00000080;
    padding: 10px;
    border-radius: 10px;
    cursor: pointer;
    color: #666;
    transition: scale 0.3s ease-in-out;
  }

  .back-to-files:hover {
    scale: 0.97;
  }

  .file-thumbnail:hover {
    scale: 0.97;
    opacity: 70%;
  }

  .details-block {
    display: flex;
    flex-direction: column;
    width: 100% !important;
  }

  .details-block p {
    width: 100%;
    margin: 0px;
    font-size: 14px;
  }
  .details-block h3 {
    margin: 0px;
    margin-top: 10px;
    margin-bottom: 5px;
  }

  .download-file {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 150px;
    height: 40px;
    border-radius: 10px;
    outline: hidden;
    border: none;
    cursor: pointer;
    color: var(--color-light);
    transition: opacity 0.3s ease-in-out, scale 0.3s ease-in-out;
    background-color: var(--color-primary);
    font-weight: bold;
    font-size: 17px;
    position: absolute;
    left: 53%;
  }

  .download-file:hover {
    scale: 0.96;
    opacity: 50%;
  }

  .large-image-overlay {
    display: flex;
    position: fixed;
    width: 100dvw;
    height: 100dvh;
    justify-content: center;
    align-items: center;
    top: 0;
    left: 0;
    background-color: #00000080;
    z-index: 20;
  }
  .large-image-modal {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100%;
    position: relative;
    background-color: #2c2c2c;
    box-shadow: 4px 4px 7px #00000080;
  }
  .large-image {
    width: 100%;
    height: 100%;
    background-position: center;
    background-repeat: no-repeat;
    background-size: contain;
    /* transform: rotate(90deg); */
  }

  .large-modal-close {
    color: var(--color-light);
    width: 34px;
    height: 34px;
    position: absolute;
    z-index: 22;
    top: 20px;
    left: 80%;
    cursor: pointer;
    transition: scale 0.3s ease-in-out;
  }

  .large-modal-close:hover {
    scale: 0.95;
  }
}
